*{
    box-sizing: border-box;
}
.load{
    display: flex;
    justify-content: center;
    color:  red;
    width: 100%;
    height: 100vh;
}
.loading{
    position: fixed;
    top : 20%;
    left :25%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    width: 300px;
    height:300px;
}
.spinner{
    border-radius: 50%;
    position:absolute;
    width: 100%;
    height: 100%;
    border: 15px solid transparent;
}
.loading-text{
    font-size: 30px;
    animation: blink 3s ease-in infinite;
}
.col1{
    animation: wait 1s ease-in infinite;
    border-top: 15px solid red;
}
.col2{
    animation: wait 2s ease-in infinite;
    border-top : 15px solid blue;
}
.col3{
    animation: wait 1s ease-in-out infinite;
    border-top:15px solid chartreuse;
}
@keyframes wait{
    from{ transform: rotate(0);}
    to{ transform : rotate(360deg);}
}

@keyframes blink{
    0%{ opacity: 2;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}